/*general*/
body{
	margin:0;
	background: #f6e12d;
	background-repeat: no-repeat;
	height: auto;
	font-size: 3.8vw;
	color: #001e2b;
}
ul{
	margin:0;
	padding: 0;
}
li{
	list-style: none;
}
a{
	text-decoration: none;
}
p{
	margin:0;
}
input{
	padding: 0;
    border: none;
    border-radius: 0;
    outline: none;
    background: none;
}
button{
	-webkit-appearance: none;
    -moz-appearance: none;
    appearance: none;
    padding: 0;
    border: none;
    outline: none;
    background: transparent;
    background-color: #001e2b;
}
select {
    -webkit-appearance: none;
    -moz-appearance: none;
    appearance: none;
    border: none;
    outline: none;
    background: transparent;
}
input[type="radio"]{
	display: none;
}
textarea {
    -webkit-appearance: none;
    -moz-appearance: none;
    appearance: none;
    resize: none;
    padding: 0;
    border: 0;
    outline: none;
    background: transparent;
}
h1{
	margin:0;
	text-align: center;
}
.wrapper{
	min-height: 100vh;
	height: 100%;
	padding: 2vw 0;
}
.top_wrapper{
	position: relative;
	background-image: url("../img/many_currenceis.jpg");
	background-size: contain;
	color: white;
	padding-top: 30vw;
}
.top_wrapper::after{
	content: "";
	position: absolute;
	top: 0;
	left: 0;
	width: 100%;
	height: 100%;
	display: block;
	background-color: rgba(44, 45, 29, 0.68);
	z-index: 3;
}
.wrapper.wrapper_none{
	display: none;
}
.alert{
	background: #ffcfcf;
    width: 90%;
    margin: 2vw auto;
    padding: 2vw;
    text-align: center;
    border-radius: 2vw;
    position: relative;
    z-index: 4;
    color: rgba(0,0,0,0.84);
}
.red_message{
	color: red;
}
section{
	padding: 0 2vw;
	z-index: 4;
}
/*header*/
nav{
	background: white;
}
nav.nav_none{
	display: none;
}
nav ul{
	display: flex;
	box-shadow: 0px 1px 5px 1px rgb(131, 110, 13);
	padding: 10px 0;
}
nav ul li{
	flex:1;
}
nav ul li.nav_button{
	display: flex;
    align-items: center;
    justify-content: center;
    background: #ffd64c;
    font-size: 4vw;
    font-weight: bold;
    border-radius: 1vw
}
nav ul li.username{
	flex:2;
	text-align: right;
}
nav ul li a{
	color: rgba(0,0,0,0.84);
}
/*index*/
.top_content{
	margin: 0 0 6vw;
}
h1{
	font-size: 12vw;
	margin-bottom: 6vw;
	position: relative;
	z-index: 4;
}
.copy{
	position: relative;
	z-index: 4;
	width: fit-content;
	margin:2vw auto;
	line-height: 1.5;
}
.button_area{
	position: absolute;
	bottom: 50vw;
	width: 100%;
	padding: 0;
}
.top_button{
	width: 90%;
	border-radius: 3vw;
	font-size: 5vw;
	text-align: center;
	padding: 5vw 0;
	font-weight: bold;
	margin:3vw auto;
}
.signin_button{
	background: #001e2b;
	color: white;
}
.signup_button{
	background: white;
	color: #001e2b;
}
/*form*/
.inputArea{
	width: 94%;
    margin: 3vw auto;
}
.inputArea p{
	font-size: 4vw;
	margin-bottom: 2vw;
	font-weight: bold;
}
.inputArea input{
	background: white;
    padding: 2vw;
    border-radius: 2vw;
    width: 70%;
    margin-left: 2vw;
    border: solid 1px #001e2b;
}
.inputArea span{
	color: red;
}
.inputArea select{
	background: white;
	padding: 2vw;
	border-radius: 2vw;
	margin-left: 2vw;
}
.inputArea img{
	width: 30%;
}
.inputArea textarea{
	width: 100%;
	background-color: white;
	border-radius: 1vw;
	border: solid 1px #001e2b;
}
.buttonArea{
	display: flex;
    justify-content: flex-end;
    width: 70%;
    margin:8vw auto;
}
.buttonArea button{
	padding: 2vw 4vw;
	color: white;
	font-size: 4vw;
	border-radius: 2vw;
}
.buttonArea a{
	color: white;
}
/*mypage*/
.profile_flex{
	display: flex;
	width: 90%;
	margin:2vw auto;
}
.left_content{
	flex:1;
	margin-right: 2vw;
}
.right_content{
	flex:1.5;
}
.user_pic{
	border-radius: 50%;
	width: 100%;
}
.profile_text{
	font-size: 5vw;
	font-weight: bold;
}
.profile_text span{
	font-size: .8em;
}
.register_button{
	background: white;
    width: 90%;
    padding: 2vw 0;
    text-align: center;
    margin: 2vw auto;
    border-radius: 2vw;
    border: solid 2px #001e2b;
    color: #001e2b;
}
.fade-enter-active, .fade-leave-active {
  transition: opacity .5s;
}
.fade-enter, .fade-leave-to /* .fade-leave-active below version 2.1.8 */ {
  opacity: 0;
}
.profile_edit_button{
	margin: 0 auto;
}
.register_operate_records{
	color: rgba(0,0,0,0.84);
	display: block;
	margin-bottom: 6vw;
}
/*money fields*/
.money_fields{
	background: rgba(225,225,225, 0.7);
    padding: 2vw;
    width: 92%;
    margin: 2vw auto;
    border-radius: 2vw;
}
.checkArea{
	display: flex;
	align-items: center;
	justify-content: center;
}
.check_label{
	display: block;
    flex: 1;
    text-align: center;
    padding: 2vw 0;
    background: white;
    margin: 2vw;
    border-radius: 1vw;
}
.checkArea input:checked + label{
	background: #f6e12d;
    color: #001e2b;
    font-weight: bold;
    border:solid 2px #001e2b;
}
.record_type{
	padding: 5vw 0;
    margin: 0 4vw;
    /*background-image: url(../img/move_money.png);*/
}
/*.checkArea input.record_type_choice:checked + label{
	background-image: url(../img/move_money.png);
	color: white;
}*/
.input_item{
	display: flex;
	align-items: center;
}
.input_item span{
	display: block;
	margin-right: 1.5vw;
}
.form_icon{
	width: 10vw;
    height: 10vw;
    opacity: 1;
}
.form_svg{
	fill: #001e2b;
}

.record_list{
	padding: 4vw;
    width: 88%;
    margin: 2vw auto;
 	background: rgba(225,225,225,0.84);
    border-radius: 2vw;
    border: solid rgba(0,0,0,0.84);
}
.borrow{
	background: rgba(255, 217, 217, 0.84);
}
.settled{
	background: rgba(129, 129, 129, 0.84);
}
.record_list li{
	display: flex;
	align-items: center;
}
.record_list li span{
	display: block;
}
.record_list li span.key{
	flex: 1;
	display: flex;
	align-items: center;
}
.record_list li span.key span{
	transform: scale(0.7);
}
.record_list li span.value{
	flex: 2;
}
.record_list li.buttons{
	width: 80%;
	margin:4vw auto 0;
}
.record_list li.buttons button{
	padding: 2vw;
	color: white;
	border-radius: 1vw;
	flex:1;
	margin: 0 1vw;
	text-align: center;
	font-weight: bold;
}
.record_list li.buttons button.edit_button{
	background: #f6e12d;
    border: solid #001e2b 2px;
    color: #001e2b;
}
.record_list li.buttons button.delete_button{
	background: #001e2b;
    color: #f6e12d;
}
.record_list li.single_value{
	width: 30%;
	margin: 2vw auto;
}
.record_list li.single_value span.type{
	text-align: center;
    padding: 2vw 0;
    border: solid;
    border-radius: 1vw;
    font-size: 6vw;
    font-weight: bold;
}
.lend li.single_value span.type{
	background: #f6e12d;
}
.borrow li.single_value span.type{
	background-color: #001e2b;
	color: #f6e12d;
	border: none;
}
.record_block{
	width: 90%;
	padding: 4vw;
	margin: 2vw auto;
	background: rgba(225,225,225,0.84);
	border-radius: 2vw;
}
.record_block_top{
	margin-bottom: 4vw;
	display: flex;
	align-items: baseline;
}
.person_name{
	font-weight: bold;
	font-size: 5vw;
	margin-bottom: 2vw;
	display: block;
	flex: 1;
}
.total{
	display: block;
	flex: 1;
}
.total_amount{
	font-size: 1.5em;
	font-weight: bold;
}
.amount_minus{
	color: red;
}
.top_row{
	display: flex;
}
.top_row li{
	flex: 1;
}
.top_row span{
	flex: 1;
	display: block;
}
.top_row span.title{
	font-weight: bold;
}
.mypage_button{
	display: flex;
	align-items: center;
	justify-content: center;
	margin: 4vw 0 0;
}
.settled_button button{
    color: white;
    padding: 2vw;
    border-radius: 1vw;
}
.delete_button button{
	background: #074b81;
    color: white;
    padding: 2vw;
    border-radius: 1vw;
}

.modal-enter-active, .modal-leave-active {
  transition: opacity .5s;
}
.modal-enter, .modal-leave-to /* .fade-leave-active below version 2.1.8 */ {
  opacity: 0;
}
.modal_over_lay{
	position: fixed;
	top: 0;
	left: 0;
	width: 100%;
	height: 100%;
	z-index: 4;
	background: rgba(0,0,0,0.8);
}
.modal_content{
	background: #cae7f2;
    padding: 2vw;
    width: 90%;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    border-radius: 2vw;
    min-height: 40vh;
    max-height: 60vh;
    overflow: scroll;
}
.close_button{
	position: absolute;
    right: 3vw;
    top: 3vw;
    font-size: 7vw;
    font-weight: bold;
    color: white;
}
.see_more_button{
	width: 50%;
	margin: 2vw auto;
	border:solid 2px;
	border-radius: 2vw;
	padding: 1.5vw 0;
	text-align: center;
}

/*loading*/
.loading{
	width: 100%;
	height: 100vh;
	background: #f6e12d;
	position: relative;
	display: block;
	transition: 1s;
}
.loading_content{
	display: flex;
	position: absolute;
	top: 50%;
	left: 50%;
	transform: translate(-50%, -50%);
}
.loading_content .circle{
	display: block;
	width: 4vw;
	height: 4vw;
	background:#001e2b;
	border-radius: 50%;
	margin: 0 2vw;
}
.first_circle{
	animation: circle_animation_first 1s infinite ease-out; 
}
.second_circle{
	animation: circle_animation_second 1s infinite ease-out;
}
.third_circle{
	animation: circle_animation_third 1s infinite ease-out;	
}
@keyframes circle_animation_first{
	0%{
		transform: translate(0%, 0%);
	}
	15%{
		transform: translate(0%, -50%) scale(1.5);
	}
	30%{
		transform: translate(0%, 0%);
	}
}
@keyframes circle_animation_second{
	30%{
		transform: translate(0%, 0%);
	}
	45%{
		transform: translate(0%, -50%) scale(1.5);
	}
	60%{
		transform: translate(0%, 0%);
	}
}
@keyframes circle_animation_third{
	60%{
		transform: translate(0%, 0%);
	}
	75%{
		transform: translate(0%, -50%) scale(1.5);
	}
	90%{
		transform: translate(0%, 0%);
	}
}

/*api loading*/
.api_loading{
  -webkit-transform: translate(-50%, -50%);
  -ms-transform: translate(-50%, -50%);
  transform: translate(-50%, -50%);
  position: fixed;
  top: 50%;
  left: 50%;
}
.loader {
  font-size: 10px;
  margin: 50px auto;
  text-indent: -9999em;
  width: 11em;
  height: 11em;
  border-radius: 50%;
  background: #ffffff;
  background: -moz-linear-gradient(left, #ffffff 10%, rgba(255, 255, 255, 0) 42%);
  background: -webkit-linear-gradient(left, #ffffff 10%, rgba(255, 255, 255, 0) 42%);
  background: -o-linear-gradient(left, #ffffff 10%, rgba(255, 255, 255, 0) 42%);
  background: -ms-linear-gradient(left, #ffffff 10%, rgba(255, 255, 255, 0) 42%);
  background: linear-gradient(to right, #ffffff 10%, rgba(255, 255, 255, 0) 42%);
  position: relative;
  -webkit-animation: load3 1.4s infinite linear;
  animation: load3 1.4s infinite linear;
  display: block;
}
.loader:before {
  width: 50%;
  height: 50%;
  background: #ffffff;
  border-radius: 100% 0 0 0;
  position: absolute;
  top: 0;
  left: 0;
  content: '';
}
.loader:after {
  background: #8eafc1;
  width: 75%;
  height: 75%;
  border-radius: 50%;
  content: '';
  margin: auto;
  position: absolute;
  top: 0;
  left: 0;
  bottom: 0;
  right: 0;
}
@-webkit-keyframes load3 {
  0% {
    -webkit-transform: rotate(0deg);
    transform: rotate(0deg);
  }
  100% {
    -webkit-transform: rotate(360deg);
    transform: rotate(360deg);
  }
}
@keyframes load3 {
  0% {
    -webkit-transform: rotate(0deg);
    transform: rotate(0deg);
  }
  100% {
    -webkit-transform: rotate(360deg);
    transform: rotate(360deg);
  }
}
